.btn-group{
    margin-top: 15px;
}

.navbar-btn{
    padding-right: 20px;
}

img.resize{
    /*width: auto;*/
    max-width: 1140px;
    max-height: 700px;
}

#rec-photo{
    width: 1140px;
    height: 700px;
}
#loader{
    position: relative;

    bottom: 50%;
    height: 10%;
/*     z-index:999; */
}

/*#rec-photo{*/
    /*height: 1000px;*/
/*}*/
