{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Entertain me</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}" type="text/css">
    <script type="text/javascript" src="http://coffeescript.org/extras/coffee-script.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>


</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav navbar-right text-center">
                {% if user.is_authenticated %}
                    <li>
                        <a>Hello, {{ user.username }}</a>
                    </li>
                    <li>
                        <p class="navbar-btn">
                            <a class="btn btn-default" href='{% url 'logout' %}'>
                                Logout
                            </a>
                        </p>
                    </li>
                {% else %}
                    <li>
                        <p class="navbar-btn">
                            <a class="btn btn-default" href='{% url 'social:begin' backend="flickr" %}'>
                                Authorization
                            </a>
                        </p>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% block main_container %}{% endblock%}
    {% compress js %}
    <script type="text/coffeescript" src="{% static "app/cs/ajax.coffee" %}"></script>
    {%  endcompress %}
</body>
</html>