{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Entertain me</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}" type="text/css">
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">

        <ul class="nav navbar-nav text-center">
            {% if user.is_authenticated %}
                <li>
                     <a href='{% url 'logout' %}'>Logout ({{ user.username }})</a>
                </li>
            {% else %}
                <li>
                    <p>Welcome, new user. Please <a href="{% url 'auth' %}">log in.</a></p>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>
    {% block main_container %}{% endblock%}
</body>
</html>