{% include 'base.html' %}
{% load staticfiles %}
{%  block main_container %}
    <div class="container text-center">
    {% if error_msg %}
        <p> {{ error_msg }}</p>
    {% else %}
        <div id="rec-photo">
            <p>Photo identifier: {{ photo.id }}</p>
            <img src="{{ photo.url }}" alt="Interest photo"/> <br/>
        </div>
        <div class="btn-group">
            <button class="btn-primary" id="btn-next-img">Show me MORE!</button>
        </div>
    {% endif %}
    </div>
{% endblock %}